@import "./../Common.scss";

.condition {
  h1 {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
  }

  &-main {
    width: 250px;
  }

  h2 {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.3rem;
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 0;
  }

  .d-flex {
    .form-group {
      flex: 1;
    }
  }

  .tier-select {
    width: unset;
  }
}
