@import "./../Common.scss";

.card {
  height: 100%;
  text-align: left;

  .title {
    color: #95aac9 !important;
    font-size: 14px;
    font-weight: bold;
  }

  .sub-content {
    font-size: 12px;
  }

  .table {
    overflow-x: auto;
    font-size: 0.9rem;

    th,
    td {
      padding: 0.25rem 0.75rem;
    }
  }
}
