@import "./../Common.scss";

.result {
  .summary {
    .summary-right {
      height: 100%;

      > div {
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 1.5rem;
        }

        @media (max-width: 767px) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .card {
    height: 100%;
    margin-bottom: 1.5rem;

    .title {
      text-align: left;
      color: #95aac9 !important;
      font-size: 14px;
      font-weight: bold;
    }

    .content {
      text-align: left;
    }

    .sub-content {
      text-align: left;
      font-size: 12px;
    }
  }
}
